#Footermainpage{
    display: grid;
    width: 100%;
    height: 70vh;
    grid-template-rows:60% 30%;
    /* border: 1px solid red; */
    gap: 10px;
    background-color:  #d6d8da;;
}
#Footermainpage>div{
    width: 85%;
    height:100% ;
    /* border: 1px solid greenyellow; */
    margin: auto;
}

#Footermaincontent{
    display: grid;
    width: 85%;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}


#Footerbottompage{
    display: grid;
    /* width: 100%; */
    grid-template-columns:70%;
    margin: auto;
    gap: 10px;
}
#Footerbottompage>div{
    /* border: 1px solid red; */
    margin-left:20rem;
    /* margin: auto; */
}
.ptag{
    font-weight:bold;
    margin-top: 1rem;
    
}
.editor{
    margin-top: 30px;
   
}
#fafa{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    /* border: 1px solid red; */
    width: 100%;
    height: 4rem;
    margin-top: 3rem;

}
#fafa>div{
    /* border: 1px solid red; */
    margin: auto;
}
#fafaimage{
    width: 100%;
    /* margin: auto; */
}