
#navbarmain{
width: 100%;
margin: auto;
border: 1px solid #2773f5;
position: sticky;
top: 0px;
background-color:#2773f5;
/* position: fixed; */
/* margin-top: 10%; */
 z-index: 100;

   
    /* padding-top: 2rem; */
    /* /* width: 100%; */
   /* margin: auto; */
  /* position: fixed; */
  /* position: relative;
   */
   /* position: absolute; */
   /* position: relative; */
   /* position: fixed;
 
 z-index: 1; */ 

}

#color{
    color: white;
}


#downloadbtn{
    background-color: #0f2040;
    color: white;
    border-radius:1rem;

}
#navbarmain>div:nth-child(1){
    cursor: pointer;
    margin-top: 1rem;
}

.btnnavbar{
    color: white;
}
#navbarmain>div:nth-child(2){
    cursor: pointer;
    margin-top: 1rem;
}

.btng{
    background-color: #0f2040;
    color: white;
    padding: 10px 20px 10px 20px;
    border: none;
    border-radius: 1rem;




}
.btng:hover{
    cursor: pointer;
    background-color: red;
}
#a{
    text-decoration: none;
    font-size: 19px;
    color: white;
}
.btnn{
    width: 30%;
    /* margin: auto; */
    /* border: 1px solid red;
     */
     background-color: #4A5568;
     border: none;
     padding: 10px 20px 10px 20px;
     border-radius: 0.5rem;
}

.btnn:hover{
    background-color: red;
    cursor: pointer;
}





  



