#paymentsuccessmain{
    width: 40%;
    /* border: 1px solid red; */
    height: auto;
    margin: auto;
    margin-top: 2rem;
    background-color: white;
    /* margin-top: 10rem; */
}

#payingto{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}
#payingto>div{
    line-height: 2px;
}
#spinner{
   
    width: 30%;
    margin: auto;
    margin-top: 3rem;

}

#porewdvy{
    width: 30%;
    margin: auto;
    /* border: 1px solid red; */
}

#theja{
    width: 40%;
    margin: auto;
}

#dlasfjldfj{
    width: 50%;
    margin: auto;
}